*\obj
bin
*.suo
*.user
*.sln.docstates

[Db]debug/
[Rr]elease/
*.obj
*.pdb
/.vs/
transactions*
*.bak
test*.csv
vendors.json
appsettings.json
budgetProfiles.json
categories.json
vendors.json
/PersonalFinancesApp/Migrations
