*\obj
bin
*.suo
*.user
*.sln.docstates

[Db]debug/
[Rr]elease/
*.obj
*.pdb
/.vs/PersonalFinancesApp
transactions*
budgetProfiles.json
categories.json
vendors.json
/PersonalFinancesApp.Api/appsettings.json
*.bak
test*.csv
